# * Read 2 columns
# * The fastest method

In [7]:
import pandas as pd

In [9]:
ufo = pd.read_csv(r"C:\Users\liudonghang\Documents\Python Scripts\Data analysis with pandas\pandas-videos-master\data\ufo.csv",
                 usecols = ['City', 'Time'])
ufo.columns

Index(['City', 'Time'], dtype='object')

In [12]:
ufo=pd.read_csv(r"C:\Users\liudonghang\Documents\Python Scripts\Data analysis with pandas\pandas-videos-master\data\ufo.csv",
               usecols=[0, 1, 4])
ufo.columns

Index(['City', 'Colors Reported', 'Time'], dtype='object')

In [13]:
ufo=pd.read_csv(r"C:\Users\liudonghang\Documents\Python Scripts\Data analysis with pandas\pandas-videos-master\data\ufo.csv",
               nrows = 3)
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

# Row iteration

In [29]:
for index, row in ufo.iterrows():
    print(index, row.City, row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO

# Drop non_numeric dtypes

In [31]:
drinks=pd.read_csv(r"C:\Users\liudonghang\Documents\Python Scripts\Data analysis with pandas\pandas-videos-master\data\drinks.csv")
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [33]:
import numpy as np
numeric_drinks = drinks.select_dtypes(include=np.number)
numeric_drinks.dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [39]:
drinks.describe(include=np.number)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000