# P23 Sample

In [1]:
import pandas as pd

In [2]:
ufo =pd.read_csv(r"C:\Users\liudonghang\Documents\Python Scripts\Data analysis with pandas\pandas-videos-master\data\ufo.csv")
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
ufo.sample(3, random_state=123, replace=False)

            City Colors Reported Shape Reported State             Time
16899  Falfurias             RED          LIGHT    TX  7/12/2000 22:00
15642     Tustin            BLUE          LIGHT    CA   1/2/2000 22:00
2964   Lancaster             NaN            NaN    PA  6/30/1975 21:30

In [8]:
ufo.sample(frac=0.75, random_state=123).shape

(13681, 5)

In [11]:
train=ufo.sample(frac=0.75, random_state=123)
test=ufo.loc[~ufo.index.isin(train.index), :]
test.shape

(4560, 5)

In [12]:
ufo.shape

(18241, 5)